<button (click)="home()">Home</button> | <a href="">Answer</a>

<div *ngFor="let question of thisQuestion">
  <h1>{{ question.question }}</h1>
  <p>{{ question.description }}</p>

</div>


<div *ngFor="let question of thisQuestion, let idx = index">
  <p>{{ question._answers[idx].answer }} {{ like }} <button (click)="like()">Like</button></p>
</div>


































































































































































































































































































<!-- Shit, i've been compromised.. SPARE MEE! -->


<div *ngFor="let question of thisQuestion, let idx = index">
  <p>{{ question._answers[1].answer }}</p>
  <p>{{ question._answers[2].answer }}</p>
  <p>{{ question._answers[3].answer }}</p>
  <p>{{ question._answers[4].answer }}</p>
  <p>{{ question._answers[5].answer }}</p>
  <p>{{ question._answers[6].answer }}</p>
  <p>{{ question._answers[7].answer }}</p>
  <p>{{ question._answers[8].answer }}</p>
  <p>{{ question._answers[9].answer }}</p>
  <p>{{ question._answers[10].answer }}</p>
  <p>{{ question._answers[11].answer }}</p>
  <p>{{ question._answers[12].answer }}</p>
  <p>{{ question._answers[13].answer }}</p>
  <p>{{ question._answers[14].answer }}</p>
  <p>{{ question._answers[15].answer }}</p>
  <p>{{ question._answers[16].answer }}</p>
  <p>{{ question._answers[17].answer }}</p>
  <p>{{ question._answers[18].answer }}</p>
  <p>{{ question._answers[19].answer }}</p>
  <p>{{ question._answers[20].answer }}</p>
</div>
